{% extends 'template.html.twig' %}
{% block body %}

<div id="setta">
 </div>
 <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/yasssign.css') }}">
 <script src="{{ asset('js/yasssign.js') }}"></script>
 <link rel="stylesheet" href="{{ asset('css/waves.css') }}">
{% endblock %}
