<h1>Hi
	{{ name }}!</h1>

<p>
	Thank you for registering with our website! Please confirm your email address by clicking the following link:<br><br>
	<a href="{{ signedUrl }}">Confirm my Email</a>.
		    This link will expire in
	{{ expiresAtMessageKey }}.
</p>
<p>
	If you did not register with our website, please ignore this email.
</p>
<p>
	Cheers!
</p>
