{% block body %}
<style>
.navbar {
  background-color: #87CEEB;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand text-white" href="#">Lancini Support</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('app_avis_index') }}"><i class="bi bi-arrow-left"></i> Back to List</a>
      </li>
      <li class="nav-item">
        {{ include('avis/_delete_form.html.twig') }}
      </li>
    </ul>
  </div>
</nav>

<div class="container my-4">
<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/hiqmdfkt.json"
    trigger="loop"
    delay="1000"
    style="width:150px;height:150px">
</lord-icon>
  <h1 class="mb-4">Edit Avis</h1>
  <div class="card">
    <div class="card-body">
      {{ include('avis/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
  </div>
</div>

<footer class="bg-info text-center text-white py-2">
  <p>&copy; 2023 Lancini. All rights reserved to Code Crafters <3.</p>
</footer>

{% endblock %}
