{% extends 'admin/base.html.twig' %}
{% block body %}
<h1 class="title">Edit your details</h1>

  {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}
<h1><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/bxxnzvfm.json"
    trigger="loop"
    delay="2000"
    colors="primary:#1663c7,secondary:#ffc738,tertiary:#f9c9c0,quaternary:#ebe6ef"
    state="hover-2"
    style="width:100px;height:100px">
</lord-icon></h1>
  {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}