{% extends 'admin/index.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <h1 class="text-center mb-5"> Edit Sale </h1>
        <div class="form-container">
    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary"><i class="fas fa-chevron-left"></i> Back to list</a>

{% endblock %}
{% block footer %}
  
{% endblock %}