
h1 {
    color: #7d68f5;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  
a + a {
    margin-left: 20px;
  }
  
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  .form-delete {
    display: inline-block;
    margin-top: 20px;
  }
  

  
  
  .form-delete input[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  