{% extends 'template.html.twig'%}

{% block body %}

	<div id="wrapper">
	 <div id="overlay-1" style="height: 900px; background-image: url('img/c1.jpg'); background-size: cover; background-position: center;">
			{#<div id="overlay-1" style="height: 937px;">#}
				
				<section id="starting">
					<div class="text-center starting-text" style="padding-top: 200.5px;">
						<h1 class="rene" style="color:#5ab9ea" class="wow animated fadeInUp animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">Lancini Comunnity</h1>
						<h2 style="color: white">Sharing and talking together</h2>
					</div>
				</section>


<div> <br><br> <br></div>

<div class="container">
				<div class="row text-center" id="heading">
					<div class="col-md-6 col-md-offset-3 wow animated zoomInDown animated animated" id="heading-text" style="visibility: visible;">
						<h3 style="color: #7fd5ff">Welcome</h3>
	                	<p style="color: #7fd5ff">Dear member to our community</p>
	                	<hr class="full">
	                	<br>
					</div>
				</div>	<!-- row -->
				<div class="row about-us-text">
					<div class="col-md-8 col-md-offset-2">
						
				</div>	<!-- row -->
				<div class="row main_content">
                 <a href="afficherPublications">
					<div class="col-md-4 wow animated zoomIn animated animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; width: -webkit-fill-available;">
						<figure>
							<img class="pro img-responsive center-block" src="img/3-col-icons-web.png">
						</figure>
						<h5 class="text-center">Publication</h5>
						<div class="row">
							<div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4">
                            
                            </div>	<!-- col-xs-12 -->
						</div>	<!-- row -->
					</div>	<!-- col-md-4 -->
                     </a>

					
                    <a href="afficherEvenement">
					<div class="col-md-4 wow animated zoomIn animated animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; width: -webkit-fill-available;">
						<figure>
							<img class="pro img-responsive center-block" src="img/3-col-icons-iphone.png">
						</figure>
						<h5 class="text-center">Events</h5>
						<div class="row">
							<div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4">
	                            <div style="display: inline; width: 60px; height: 60px;">
	                                
	                        	</div>	
	                    	</div>	<!-- col-xs-12 -->
						</div>	<!-- row -->
					</div>	<!-- col-md-4 -->
                    </a>
				</div><!-- row main_content -->
			</div>


{% endblock %}

{% block footer %}

{% endblock %}
