<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout</title>
    </head>
    <body>
        <form action="/stripe/checkout" method="POST">
            <script src="https://js.stripe.com/v3/"></script>
            <input type="hidden" name="sessionId" value="{{ sessionId }}">
            <button id="checkout-button">Checkout</button>
        </form>
        <script>
            var stripe = Stripe('{{ stripePublicKey }}');

            var checkoutButton = document.getElementById('checkout-button');

            checkoutButton.addEventListener('click', function() {
                stripe.redirectToCheckout({
                    sessionId: '{{ sessionId }}'
                }).then(function (result) {
                    console.log(result.error.message);
                });
            });
        </script>
    </body>
</html>
