{% for message in app.flashes('success') %}
    <div class="alert alert-success float-right font-weight-bold" role="alert" style="width: 30%; background: #5cb85c">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
