{% extends 'admin/base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h1>Create new Quiz</h1>

    {{ include('quizAdmin/_form.html.twig') }}

    <a href="{{ path('admin_quiz_index') }}">back to list</a>
{% endblock %}
