<form method="post" action="{{ path('app_experience_delete', {'idexperience': experience.idexperience}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.idexperience) }}">
	<button class="btn btn-danger">Delete</button>
</form>
