{% extends 'admin/index.html.twig' %}
{% block body %}
    <div class="container mt-3"  style="max-width: 15rem; ">
        <h1 >Posts</h1>
    </div>
    <table class="table mt-5" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">candidate</th>
            <th scope="col">selected offer </th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts%}
            <tr>
                <td>{{ post.idPost}}</td>
                <td>{{ post.idUser.nom}}</td>
                <td>{{ post.idOffre.nom}}</td>
                <td>
                    <a href="{{path('app_admin_removepost',{'id':post.idPost})}}"  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"  title="Remove">X</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}