{% extends 'template.html.twig'%}

{% block body %}



<div id="wrapper">
	 <div id="overlay-1" style="height: 900px; background-image: url('img/CBack.jpg'); background-size: cover; background-position: center;">
			{#<div id="overlay-1" style="height: 937px;">#}
				
				<section id="starting">
					<div class="text-center starting-text" style="padding-top: 200.5px;">
						<h1 class="rene" style="color:#5ab9ea" class="wow animated fadeInUp animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">Lancini Comunnity</h1>
						<h2 style="color: white">Events are a way for us to meet and learn together</h2>
					</div>
				</section>





<div> <br><br></div>
<div class="main_blog text-center roomy-100">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="head_title text-center">
                                    <h2>Welcome</h2>
                                    <div class="separator_auto"></div>
                                    <p> We would love nothing more than to meet you !
                                    </p>
                                </div>
                            </div>

<div> <br><br><br><br><br><br><br><br></div>

<div class="main_contact roomy-100 text-black">
                            <div class="col-md-4">
                                <div class="rage_widget">
                                    <div class="widget_head">
                                        <h3 class="text-black">Care to join?</h3>
                                        <div class="separator_small"></div>
                                    </div>
                                    <p> Hurry up and participate <br> make sure you chose the right event 
                                    </p>

                                    <div class="widget_socail m-top-30">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 sm-m-top-30">
                                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            
                                        </div>

                                        

                                        

                                        

                                    </div>

                                {{form_end(form)}}
                            </div>
                        </div>

{% endblock %}

{% block footer %}

{% endblock %}
